<main>
    <div class="lg:grid lg:grid-cols-2">
        <div>
            <Titled
                styles="text-4xl font-bold italic py-5 text-center md:text-left"
                content="The Showroom"
            />
            <span class="leading-loose"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                laudantium iure illo assumenda voluptates. Tempora assumenda
                cum, blanditiis animi officiis nesciunt dolorum omnis natus,
                quasi molestias culpa dolorem perferendis illo! Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Cumque laudantium
                iure illo assumenda voluptates. Tempora assumenda cum,
                blanditiis animi officiis nesciunt dolorum omnis natus, quasi
                molestias culpa dolorem perferendis illo!
            </span>
        </div>
    </div>
    <div></div>
</main>
