/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@layer base {
    :root {
        --background: 0, 0%, 100%;
        --foreground: 208, 37%, 20%;
        --tertiary: 49, 71%, 49%;
    }

    /* :root {
        --background: 208, 37%, 20%;
        --foreground: 49, 71%, 49%;
        --tertiary: 0, 0%, 100%;
    } */
}

@layer base {
    * {
        /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        transition: all 200ms linear;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        scroll-snap-type: mandatory;
        scroll-behavior: smooth;
        scroll-snap-align: start;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }
    body {
        @apply bg-background text-foreground;
    }
}
